/* @media (min-width: 640px) { 
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1536px) { 
    
}

@media (min-width: 1920px) {
    
} */

* {
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    padding: 0;
    transition: .3s color;
}

.container {
    width: 100%;
}

.light-mode {
    --bg: hsl(225, 100%, 98%);
    --main-text-color: hsl(230, 17%, 14%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --accent-color: hsl(228, 12%, 44%);
    --card-background: hsl(0, 0%, 92%);
    --card-background-hover: hsl(0, 0%, 85%);
    --desaturated-blue: hsl(228, 19%, 30%);
    --banner-color: #e1e1e1;
} 


:root {
    --bg: hsl(230, 17%, 14%);
    --main-text-color: hsl(0, 0%, 100%);
    --banner-color: #1a1d2c;
    /* --banner-color: white;/ */
    --accent-color: hsl(229, 27%, 20%);
    --desaturated-blue: hsl(228, 34%, 66%);
    --card-background: hsla(229, 27%, 20%);
    --card-background-hover: hsl(229, 25%, 31%);

    --toggle-light: #aeb3cb;
    --text-xs: 0.75rem; /* 12px */
    --text-xs-line-height: 1rem; /* 16px */
    --text-sm: 0.875rem; /* 14px */
    --text-sm-line-height: 1.25rem; /* 20px */
    --text-base: 1rem; /* 16px */
    --text-base-line-height: 1.5rem; /* 24px */
    --text-lg: 1.125rem; /* 18px */
    --text-lg-line-height: 1.75rem; /* 28px */
    --text-xl: 1.25rem; /* 20px */
    --text-xl-line-height: 1.75rem; /* 28px */
    --text-2xl: 1.5rem; /* 24px */
    --text-2xl-line-height: 2rem; /* 32px */
    --text-3xl: 1.875rem; /* 30px */
    --text-3xl-line-height: 2.25rem; /* 36px */
    --text-4xl: 2.25rem; /* 36px */
    --text-4xl-line-height: 2.5rem; /* 40px */
    --text-5xl: 3rem; /* 48px */
    --text-5xl-line-height: 1; /* 40px */
    --text-6xl: 3.75rem; /* 60px */
    --text-6xl-line-height: 1; /* 40px */
    --text-7xl: 4.5rem; /* 72px */
    --text-7xl-line-height: 1; /* 40px */
    --text-8xl: 6rem; /* 96px */
    --text-8xl-line-height: 1; /* 40px */
    --text-9xl: 8rem; /* 128px */
    --text-9xl-line-height: 1; /* 40px */
}



.display-none {
    display: none;
}

html {
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--bg);
}

h1, h3, p {
    color: var(--main-text-color);
}

h2 {
    color: var(--desaturated-blue);
}

@media (min-width: 640px) { /* Small */
    body {
        max-width: 640px;
    }
}

@media (min-width: 768px) { /* Medium */
    body {
        max-width: 768px;
        min-width: 768px;
    }
}

@media (min-width: 1024px) { /* Large */
    body {
        max-width: 1024px;
        min-width: 1024px;
    }

    .background-banner {
        min-width: 100%;
        height: 33%;
        background-color: var(--banner-color);
        display: flex;
        position: absolute;
        z-index: -1;
        left: 0;
    }
}

@media (min-width: 1280px) { /* XL */
    body {
        max-width: 1280px;
        min-width: 1280px;
    }
}

@media (min-width: 1536px) { /* 2XL */
    body {
        max-width: 1536px;
        min-width: 1536px;
    }
}

@media (min-width: 1920px) { /* 3XL */
    body {
        max-width: 1920px;
        min-width: 1920px;
    }
}
