/* @media (min-width: 640px) { 
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1536px) { 
    
}

@media (min-width: 1920px) {
    
} */

* {
    font-family: 'Inter', sans-serif !important;
}

:root {
    --very-dark-blue-bg: hsl(230, 17%, 14%);
    --very-dark-blue-top-bg: hsl(232, 19%, 15%);
    --dark-desaturated-blue: hsl(228, 28%, 20%);
    --desaturated-blue: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --dark-grayish-blue: hsl(228, 12%, 44%);
    --very-dark-blue: hsl(230, 17%, 14%);

    --text-xs: 0.75rem; /* 12px */
    --text-xs-line-height: 1rem; /* 16px */
    --text-sm: 0.875rem; /* 14px */
    --text-sm-line-height: 1.25rem; /* 20px */
    --text-base: 1rem; /* 16px */
    --text-base-line-height: 1.5rem; /* 24px */
    --text-lg: 1.125rem; /* 18px */
    --text-lg-line-height: 1.75rem; /* 28px */
    --text-xl: 1.25rem; /* 20px */
    --text-xl-line-height: 1.75rem; /* 28px */
    --text-2xl: 1.5rem; /* 24px */
    --text-2xl-line-height: 2rem; /* 32px */
    --text-3xl: 1.875rem; /* 30px */
    --text-3xl-line-height: 2.25rem; /* 36px */
    --text-4xl: 2.25rem; /* 36px */
    --text-4xl-line-height: 2.5rem; /* 40px */
    --text-5xl: 3rem; /* 48px */
    --text-5xl-line-height: 1; /* 40px */
    --text-6xl: 3.75rem; /* 60px */
    --text-6xl-line-height: 1; /* 40px */
    --text-7xl: 4.5rem; /* 72px */
    --text-7xl-line-height: 1; /* 40px */
    --text-8xl: 6rem; /* 96px */
    --text-8xl-line-height: 1; /* 40px */
    --text-9xl: 8rem; /* 128px */
    --text-9xl-line-height: 1; /* 40px */
}

@media (min-width: 640px) { /* Small */
    body {
        max-width: 640px;
    }
}

@media (min-width: 768px) { /* Medium */
    body {
        max-width: 768px;
    }
}

@media (min-width: 1024px) { /* Large */
    body {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) { /* XL */
    body {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) { /* 2XL */
    body {
        max-width: 1536px;
    }
}

@media (min-width: 1920px) { /* 3XL */
    body {
        max-width: 1920px;
    }
}
